.fc-event .fc-content {
    position: relative;
    z-index: 2;
    padding-top: 2px;
    padding-left: 2px;
}

td .fc-day.fc-sat,
td .fc-day.fc-sun {
    background-color: #FFDDDD99
}

/* 修正上方工具列沒有置中的問題 */
.fc-left {
    float: left;
    position: absolute;
}
